# Example of a full-factorial design with ChoiceDesign

This notebook illustrates how to use **ChoiceDesign** to generate a simple full-factorial experimental design.

## Step 1: Load modules, define design attributes

The following lines load:
- `FullFactDesign`: the class of full-factorial designs,
- `Attribute`: the class of attributes.

In [1]:
from choicedesign.design import FullFactDesign
from choicedesign.expressions import Attribute

Each attribute is defined by the `Attribute` class. The arguments of this class are:

* `name`: a string with the attribute name,
* `levels`: a list of levels of the attribute,

Each attribute is alternative-specific. Hence, attributes must be defined for each alternative that contains them.

The following lines define 2 alternatives, named `alt1` and `alt2`, and 3 attributes named from $A$ to $C$:

In [2]:
alt1_A = Attribute('alt1_A',[1,2,3])
alt1_B = Attribute('alt1_B',[10,15,15.5])

alt2_A = Attribute('alt2_A',[1,2,3])
alt2_C = Attribute('alt2_C',[0,3,5])

## Step 2: Construct full-factorial design object and generate initial design matrix

The second step consists of constructing the experimental design object, which requires the following parameters:

- `X`: A list of `Attribute` class elements,

The following lines define a object named `design` using `FullFactDesign`:

In [3]:
design = FullFactDesign(
    X = [alt1_A,alt1_B,
         alt2_A,alt2_C])

After the design object is defined, the method `gen_design()` generates the design matrix.

In [4]:
init_design = design.gen_design()
init_design

    alt1_A  alt1_B  alt2_A  alt2_C
0        1    10.0       1       0
1        2    10.0       1       0
2        3    10.0       1       0
3        1    15.0       1       0
4        2    15.0       1       0
..     ...     ...     ...     ...
76       2    15.0       3       5
77       3    15.0       3       5
78       1    15.5       3       5
79       2    15.5       3       5
80       3    15.5       3       5

[81 rows x 4 columns]